.navbar-logo-img {
  top: -50px;
  width: 60px;
  height: auto;
  border-radius: 50%;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
}

.devicon {
  font-size: 60px;
  width: auto;
  padding: 5px;
}

.tech-container .devicon,
.tech-container .row {
  margin: 1rem 0;
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 !important;
  }
  #name-span {
    font-size: 1.5rem;
    padding-top: 0.75em;
    margin-left: -2em !important;
  }
  .navbar-header {
    margin: 0 !important;
  }
  .navbar-logo-img {
    width: 40px;
    height: auto;
  }
}
