.navbar-logo-img {
  top: -50px;
  width: 100px;
  height: auto;
  border-radius: 50%;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
  margin-right: 30px;
}

.devicon {
  font-size: 60px;
  width: auto;
  padding: 5px;
}

.tech-container .devicon,
.tech-container .row {
  margin: 1rem 0;
}

#contact-image {
  background-image: url("./assets/images/office-window.jpg");
}

.btn-secondary {
  color: white;
  background-color: #1763e9;
  border-color: #1763e9;
}

.btn-secondary:hover {
  color: #1763e9;
  background-color: transparent;
  border-color: #1763e9;
}

.carousel-inner>.item>img {
  max-width: 100%;
}

.portfolio-item {
  margin-bottom: 30px;
}

.portfolio-item_details {
  padding: 15px;
}

.portfolio-item_details h3 {
  color: #1763e9;
}

.portfolio-item_details .btn {
  margin-top: 30px;
}

.portfolio-item_details-tech {
  margin-top: 30px;
}

.devicon {
  font-size: 40px;
}

.card-shadow {
  border-radius: 5px;
  overflow: hidden;
}