:root {
  --colorPrim: #17a2b8;
  --colorSec: #026877;
  --white: #fff;
  --grey: #333;
  --lightGrey: #ccc;

  --fontPrim: 'Nunito', sans-serif;
  --fontSec: 'Lora', serif;
}


/******************************
BASE STYLES
******************************/

body {
  color: var(--grey);
  font-family: var(--fontSec) !important;
}

h1 {
  font-family: var(--fontPrim);
}

/******************************
NAVIGATION
******************************/

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.nav-item {
  color: var(--colorPrim) !important;
  font-family: var(--fontPrim);
  font-weight: lighter;
}

button.navbar-toggler {
  color: var(--white);
}

.nav-toggler {
  color: var(--colorPrim);
  font-size: 50px !important;
}

/******************************
JUMBOTRON
******************************/

.jumbotron {
  background-image: linear-gradient(rgba(255,255,255, 0.1)50%,
                    rgba(23, 162, 184, 0.6)),
                    url('img/cover-photo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  z-index: 1;
}

.devicon {
  font-size: 80px;
}

#about {
  margin-top: 30px;
}

/******************************
PORTFOLIO
******************************/

.portfolio-item {
  position: relative;
}

.portfolio-overlay {
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--colorPrim);
  opacity: 0.9;

  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(.62,0,.52,1);
}

.portfolio-item:hover .portfolio-overlay {
  top: 0;
}

.portfolio-details {
  color: white;
}

.portfolio-details h3,
.portfolio-details h6 {
  font-size: 1em !important;
  margin: auto;
}

.portfolio-details li {
  list-style: none;
  font-size: 0.75em;
}

.portfolio-details a {
  text-decoration: none;
  color: inherit;
}

/******************************
TREEHOUSE BADGES / POINTS
******************************/

.treehouse-link,
.contact-link {
  color: inherit;
  text-decoration: none !important;
  font-weight: normal !important;
}

.card {
  border: none;
}

.treehouse-badge {
  height: 100px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;

  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(.62,0,.52,1);
}

.treehouse-points {
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(.62,0,.52,1);
}

.treehouse-badge:hover {
  opacity: 0.6;
}

.treehouse-points:hover {
  background-color: var(--lightGrey);
  color: var(--colorPrim);
}

.treehouse-points h4{
  padding-top: 10px;
}

.badges h4,
#points h4 {
  font-size: 1.2rem;
  margin-top: auto;
}

.fa {
  font-size: 50px;
  padding-top: 0;
  padding-bottom: 0;
}

.fa-envelope-o {
  font-size: 30px;
}

.fa-spinner {
  color: var(--colorPrim);
}

.contact-detail p {
  display: inline-block;
  vertical-align: middle;
}

/******************************
BADGES PAGE
******************************/

#badges-heading p a {
  color: var(--colorPrim);
  text-decoration: none;
}

.wrapper {
  min-height: 100vh;
  position: relative;
}

.badges-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/******************************
FOOTER
******************************/

.footer {
  background-color: var(--colorPrim);
  opacity: 0.8;
}

.contact-detail a,
.social-links a {
  color: var(--colorPrim) !important;

  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(.62,0,.52,1);
}

.contact-detail a:hover,
.social-links a:hover {
  opacity: 0.6;
  text-decoration: none;
}
